.presentsGrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 140px 140px;
  font-family: "Montserrat", sans-serif;
}

.gallerySection {
}

.galleryHeader {
}

.galleryHeader h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
}

.otherImagesWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 140px;
  grid-gap: 5px;
}

.miniImageWrapper {
}

.metaDataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.price {
  font-weight: 700;
}
.title {
  font-weight: bold;
  font-size: 1.2rem;
}
.weight {
  font-weight: 300;
  margin: 0.5rem 0;
}

.desktopSeparator {
  display: none;
}

.mobileSeparator {
  width: 80%;
  border-top: 0.2rem solid black;
}

@media (min-width: 768px) {
  .galleryHeader h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .presentsGrid {
    grid-template-columns: 220px 220px 220px;
    grid-gap: 4rem;
  }
  .mobileSeparator {
    display: none;
  }
  .desktopSeparator {
    display: block;
    width: 80%;
    border-top: 0.2rem solid black;
    margin-bottom: 2rem;
  }

  .cardImageWrapper img {
    width: 220px;
  }

  .otherImagesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 220px;
    grid-gap: 5px;
  }

  .miniImageWrapper img {
    width: 51px;
  }

  .price {
    font-size: 1.6rem;
  }
  .title {
    font-size: 1.6rem;
  }
  .weight {
    font-size: 1.6rem;
  }
}
