.container {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  background-image: url("/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header * {
  z-index: 10;
}

.shadow {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, #151515 0%, rgba(196, 196, 196, 0) 100%);
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerTopMobile {
}

.headerTopDesktop {
  display: none;
}

.headerBottom {
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBottom > span {
  color: white;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

.mobileLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mobileLinks a {
  padding: 1rem;
  font-family: "Rubik Mono One", sans-serif;
  text-align: center;
  letter-spacing: -1px;
}

.footer {
  width: 100%;
  background-color: #17202a;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2rem;
}

.footerHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footerHeader h2 {
  font-size: 1.8rem;
}
.footerHeader hr {
  width: 60%;
}

.footerAddressWrapper {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.footerAddressBlock {
  white-space: pre-wrap;
}

@media (min-width: 768px) {
  .header {
    min-height: 770px;
    background-image: url("/banner_xl.png");
  }

  .headerTopMobile {
    display: none;
  }

  .headerTopDesktop {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .headerTopDesktop > * {
    padding: 1rem;
    font-family: "Rubik Mono One", sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: white;
    font-size: 2rem;
  }

  .headerBottom {
    flex-grow: 1;
  }

  .headerBottom > span {
    font-size: 5rem;
  }

  .mobileLinks {
    display: none;
  }

  .footer {
    width: 100%;
    background-color: #17202a;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 2rem;
  }

  .footerHeader {
  }
  .footerHeader h2 {
    font-size: 4rem;
  }
  .footerHeader hr {
    display: none;
  }

  .footerAddressWrapper {
    max-width: 100%;
  }
  .footerAddressBlock {
    font-size: 1.8rem;
  }
}
